#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

span {
  font-family: menu;
  cursor: pointer;
  font-size: 15px;
  padding-left: 20px;
}


span:focus {
  background-color: purple;
}

.container {
  width: 35rem;
  height: 90vh;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 2.5px 3px purple;
  overflow: hidden;
}

.bouncing-button {
  position: relative;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: bounce 2s infinite;
}

.nav-button {
  width: 4rem;
  height: 4rem;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 50%;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.bouncing-button:hover {
  background-color: #3e8e41;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  .container {
    width: 95vw;
    height: 95vh;
  }
}